body{
    margin: 0;
    text-align: center;
    background-color: #e4f9f5;
    position: relative;
    padding: 10px;
    font-family: 'Merriweather', serif;
}
h1{
    margin:0 auto;
    width: 20%;
    font-family: 'Sacramento', cursive;
}


h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}
.topcontainer{
    background-color: #e4f9f5;
   
}
.middle-container{
   
 

}
.bottom-container{
 
}
.botcontainer{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position:absolute;
    top: 500px;
}
.stack{
    background-color: #eaBFBF;
}
.topcloud{
    position: relative;
    left: 200px;

}
.bottomcloud{
    position: absolute;
}
.akhil[
    width:200px;
    height:200px
]